.about {
  height: 100vh;
  animation: fadeIn 1s;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .gallery {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;
      .carousel {
        border-radius: 20px;
        border: 3px solid #333;
      }
    }
  }
}

// Had to use very specific selectors for the carousel package:
.carousel .control-next.control-arrow:before {
  border-left: 12px solid #fff !important;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  border-top: 12px solid transparent !important;
  border-bottom: 12px solid transparent !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 12px solid #fff !important;
}
