.home {
  height: 100vh;
  padding-top: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #31212a;
  animation: fadeIn 1s;
  .landing-logo {
    height: auto;
    max-width: 600px;
    width: 100%;
    margin-bottom: 16px;
  }
}
